body {
  background-color: #0d0d0d;
  /* background-image: url("x2.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
div.feature {
  background-color: gold;
  color: red;
  font-family: Helvetica;
 }

nav
{
  position: flex;
  width: 100%;
  height: 65px;
  background-color: white;
  position: fixed;
  z-index: 9999;
}

 .header
 {
   width: 100%;
   height: 1000px;
   background-image: url(AJ.jpg);
   background-size: cover;
   background-position: center;
   min-height: 850px;
 }

.headerAbout
{
  background-image: url("../Yosemite 1.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 900px;
}

.headerAgri
  {
    width: 100%;
    height: 900px;
    background-image: url(HQ2.1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 700px;
  }

.headerConservation
{
  width: 100%;
  height: 1000px;
  background-image: url(Conserv.jpg);
  background-size: cover;
  background-position: center;
  min-height: 850px;
}

.headerTransp
{
  width: 100%;
  height: 1000px;
  background-image: url(Transp.jpg);
  background-size: cover;
  background-position: center;
  min-height: 850px;
}
nav ul
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
  display: fixed;
  position: flex;
  z-index: 9999;
}
nav ul li
{
  float: left;
  width: 20%;
  height:65px;
    line-height: 30px;
  box-shadow: 1px 2px 4px grey;
  background-color: black;
  text-align: center;
  font-size: 17px;
  z-index: 9999;
}

nav ul li a
{
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  height: 25px;
  padding: 20px 20px;
}

nav ul li a:hover
{
  background-color: #ffa514;
  height: 25px;
  color: black;
}

nav ul li ul li
{
  display: none;
  width: 100%;
}

nav ul li:hover ul li
{
  display: block;
}

.btn {
  display: inline-block;
  border: 2px solid black;
  background-color: inherit;
  padding: 10px 20px;
  font-size: 16px;
}

 .btn:hover {background: #eee;}

 /* .Tesla {color: green;}
 /* Green */
 .Tesla {
   display: inline-block;
   transition: all 0.75s;
   cursor: pointer;
   color: black;
   background-color: lightgrey;
   font: 25px "Lato", sans-serif;
   font-weight: bold;
   margin-bottom: 10px;
   border-radius: 15px;
 }

 .Tesla:hover
{
  display: inline-block;
  background: linear-gradient(90deg, #ffdd99, #ffc34d, #e68a00);;
  color: black;
  font: 25px "Lato", sans-serif;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
 }

.SpaceX {
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: lightgrey;
  transition: 0.1s;
  font: 24px "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  border-radius: 5px;
}
.SpaceX:hover {
  text-decoration: none;
  display: inline-block;
  background: #ffc34d; /*linear-gradient(90deg, #d6f7ff, #c4f4ff, #b5f1ff);*/
  color: black;
  transition: 0.1s;
  font: 25px "Lato", sans-serif;
  font-weight: bold;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
}

p.copyright {
  font-family: Times New Roman;
  color: black;
  background-color: ivory;
  position: absolute;
  bottom: 0;
  font-size: 16px;
}
h1
{
  background-position: bottom;
  color: Azure;
  font-size: 40px;
  text-align: center;
  font-family: "Advent Pro";
  margin-top: 0;
  margin-bottom: 0;
  text-shadow:
  3px 3px 5px #000,
  -1px -1px 5px #000,
  1px -1px 5px #000,
  -1px 1px 5px #000,
  1px 1px 5px #000;
}

h2 {
  color: #ffc34d;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}

h3 {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 26px;
  font-variant: small-caps;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow:
    1px 1px 5px #000;
}

h4 {
  color: #ffffff;
  font-family: "Nunito";
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}

h4:link {
  color: #ffffff;
  font-family: "Nunito";
  font-size: 22px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 37px "Lato", sans-serif;
  color: #ffaa00;
  margin-bottom: 10px;
  margin-top: 45px;
}
/*ADD H6 FOR COUNTRY Comparison*/
h6 {
  letter-spacing: 4px;
  font: 36px "Lato", sans-serif;
  color: white;
  font-variant: small-caps;
  margin-bottom: 10px;
  margin-top: 10px;
}

p
{
  color: Azure;
  text-decoration: none;
  font-family: "Gill Sans";
  font-size: 23px;
  letter-spacing: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

p.smol {
  letter-spacing: 1px;
  font-size: 12px;
  color: black;
  font-family: "Arial";
  margin-bottom: 0px;
  margin-top: -5px;
}

p.smol2 {
  letter-spacing: 1.5px;
  font-size: 20px;
  color: white;
  font-family: "Arial";
  margin-bottom: 0px;
  margin-top: 0px;
}

dt
{
font-size: 20px;
}

dd
{
    color: black;
    font-family: "Comic Sans";
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.column {
  float: left;
  width: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
}

#col {
  column-count: 1;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Economics, .bgimg-22, .bgimg-4, .bgimg-6, .bgimg-7, .bgimg-13, .Immigration, .headerAbout, .bgimg-11, .Average-Temp {
  position: relative;
  opacity: 0.95;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Economics {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../stata1.png");
  min-height: 800px;
}

.bgimg-22 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Canyon.JPG");
  min-height: 750px;
}

.bgimg-4 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../ContactMe.JPG");
  min-height: 850px;
}

.Average-Temp {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../AvgTmpBos.gif");
  min-height: 750px;
}

.bgimg-6 {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../AJ.jpg");
  min-height: 850px;
}

.bgimg-7 {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../HanaumaBay.jpg");
  min-height: 1000px;
}

.bgimg-13 {
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../IMG_1990.jpg");
  min-height: 850px;
}

.Immigration {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../stata2.png");
  min-height: 850px;
}

.AvgTempHist{
  height: 75%;
  width: 75%;
  position: relative;
}

.MaxTempHist{
  height: 75%;
  width: 75%;
  position: relative;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  /* margin-top: 30px; */
}

.crop-container {
  width: 1500px;
  height: 300px;
  overflow: hidden;

}
.crop-container img {
    margin-top: -205px;
    margin-left: 15%;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.caption span.border {
  background-color: #ffffff;
  color: #000000;
  padding: 25px;
  font-size: 55px;
  /* font-weight: bold; */
  font-variant: small-caps;
  letter-spacing: 10px;
  opacity: .75;
  border-radius: 1px;
}

/* Turn off parallax scrolling for tablets and phones*/
/*@media only screen and (max-device-width: 2160px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}*/
