
table
{
font-family: Arial;
border-collapse: collapse;
width: 90%;
}

td, th
{
  outline: 1px dashed black;
  text-align: center;
  padding: 9px;
  font-size: 18px;
  font-weight: bold;
}

th {
  outline: 1px dashed black;
}

tr:nth-child(even)
{
  background-color: #dbdbdb;
  color: black;
}

tr:nth-child(odd)
{
  background-color: #dbdbdb;
  color: black;
}
strong
{
  font-size: 18px;
}
